body {
    font-family: 'Lato', Arial, sans-serif;
}

.table > thead > tr > th {
    border-bottom-width: 1px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
    padding: 10px 20px;
}

.content-haeder {
    padding-top: 25px;
}

.main-header .logo {
    height: auto;
    padding-top: 5px
}

.skin-black .main-header {
    -webkit-box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.02);
}

.main-sidebar,
.left-side {
    top: auto;
    padding-top: 0;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 10px 10px 10px 15px;
}

.skin-black .main-sidebar {
    background-color: #263238;
}

.skin-black .user-panel {
    background-color: #1f292e !important;
    margin-bottom: 10px;
}

.user-panel {
    padding-top: 15px;
    padding-bottom: 15px;
}

.user-panel > .info {
    position: relative;
    left: 0px;
    padding: 5px;
}

.user-panel .info p {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px;
}

.user-panel .role {
    color: #ddd;
}

.content-wrapper {
    background-color: #f1f4f5;
}

.content-header {
    padding-top: 15px;
}

.box {
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
}

.box-header {
    padding: 10px 20px 0;
}

.box-body {
    padding: 10px 20px 20px;
}

.box-footer {
    padding: 20px;
}

.form-control {
    border-radius: 3px;
}

.form-group {
    font-size: 16px;
}

.form-group .form-control {
    font-size: 16px;
    height: auto;
    padding: 10px 15px;
}

.btn {
    transition: all 0.15s ease-in-out;
}

.btn-default {
    color: #76838f;
    background-color: #e4eaec;
    border-color: #e4eaec
}

.btn-default.focus,
.btn-default:focus {
    color: #76838f;
    background-color: #c6d3d7;
    border-color: #99b0b7
}

.btn-default:hover {
    color: #76838f;
    background-color: #c6d3d7;
    border-color: #c0ced3
}

.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
    color: #76838f;
    background-color: #c6d3d7;
    border-color: #c0ced3
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover {
    color: #76838f;
    background-color: #b1c2c8;
    border-color: #99b0b7
}

.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
    background-image: none
}

.btn-default.disabled.focus,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled].focus,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover {
    background-color: #e4eaec;
    border-color: #e4eaec
}

.btn-default .badge {
    color: #e4eaec;
    background-color: #76838f
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #286090;
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #286090;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #286090;
}

.btn-success {
    color: #fff;
    background-color: #46be8a;
    border-color: #46be8a
}

.btn-success.focus,
.btn-success:focus {
    color: #fff;
    background-color: #369b6f;
    border-color: #226246
}

.btn-success:hover {
    color: #fff;
    background-color: #369b6f;
    border-color: #34936a
}

.btn-success.active,
.btn-success:active,
.open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #369b6f;
    border-color: #34936a
}

.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover {
    color: #fff;
    background-color: #2d805c;
    border-color: #226246
}

.btn-success.active,
.btn-success:active,
.open>.dropdown-toggle.btn-success {
    background-image: none
}

.btn-success.disabled.focus,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled].focus,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover {
    background-color: #46be8a;
    border-color: #46be8a
}

.btn-success .badge {
    color: #46be8a;
    background-color: #fff
}

.btn-info {
    color: #fff;
    background-color: #57c7d4;
    border-color: #57c7d4
}

.btn-info.focus,
.btn-info:focus {
    color: #fff;
    background-color: #33b6c5;
    border-color: #237e89
}

.btn-info:hover {
    color: #fff;
    background-color: #33b6c5;
    border-color: #30afbd
}

.btn-info.active,
.btn-info:active,
.open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #33b6c5;
    border-color: #30afbd
}

.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover {
    color: #fff;
    background-color: #2b9ca9;
    border-color: #237e89
}

.btn-info.active,
.btn-info:active,
.open>.dropdown-toggle.btn-info {
    background-image: none
}

.btn-info.disabled.focus,
.btn-info.disabled:focus,
.btn-info.disabled:hover,
.btn-info[disabled].focus,
.btn-info[disabled]:focus,
.btn-info[disabled]:hover {
    background-color: #57c7d4;
    border-color: #57c7d4
}

.btn-info .badge {
    color: #57c7d4;
    background-color: #fff
}

.btn-warning {
    color: #fff;
    background-color: #f2a654;
    border-color: #f2a654
}

.btn-warning.focus,
.btn-warning:focus {
    color: #fff;
    background-color: #ee8d25;
    border-color: #b8660e
}

.btn-warning:hover {
    color: #fff;
    background-color: #ee8d25;
    border-color: #ee881b
}

.btn-warning.active,
.btn-warning:active,
.open>.dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ee8d25;
    border-color: #ee881b
}

.btn-warning.active.focus,
.btn-warning.active:focus,
.btn-warning.active:hover,
.btn-warning:active.focus,
.btn-warning:active:focus,
.btn-warning:active:hover {
    color: #fff;
    background-color: #de7c11;
    border-color: #b8660e
}

.btn-warning.active,
.btn-warning:active,
.open>.dropdown-toggle.btn-warning {
    background-image: none
}

.btn-warning.disabled.focus,
.btn-warning.disabled:focus,
.btn-warning.disabled:hover,
.btn-warning[disabled].focus,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:hover {
    background-color: #f2a654;
    border-color: #f2a654
}

.btn-warning .badge {
    color: #f2a654;
    background-color: #fff
}

.btn-danger {
    color: #fff;
    background-color: #f96868;
    border-color: #f96868
}

.btn-danger {
    outline: 0 !important;
}

.btn-danger.focus,
.btn-danger:focus {
    color: #fff;
    background-color: #f73737;
    border-color: #d90909;
}

.btn-danger:hover {
    color: #fff;
    background-color: #f73737;
    border-color: #f72d2d
}

.btn-danger.active,
.btn-danger:active,
.open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #f73737;
    border-color: #f72d2d
}

.btn-danger.active.focus,
.btn-danger.active:focus,
.btn-danger.active:hover,
.btn-danger:active.focus,
.btn-danger:active:focus,
.btn-danger:active:hover {
    color: #fff;
    background-color: #f61515;
    border-color: #d90909
}

.btn-danger.active,
.btn-danger:active,
.open>.dropdown-toggle.btn-danger {
    background-image: none
}

.btn-danger.disabled.focus,
.btn-danger.disabled:focus,
.btn-danger.disabled:hover,
.btn-danger[disabled].focus,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:hover {
    background-color: #f96868;
    border-color: #f96868
}

.btn-danger .badge {
    color: #f96868;
    background-color: #fff
}

.jconfirm .content {
    min-height: auto;
}

.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
    background-color: #f2a654 !important;
    border: none;
}
