body {
    font-family: 'Roboto', Arial, sans-serif;
}

.wrapper {
    overflow-y: hidden;
}

strong, th, label {
    font-weight: 500;
}

.login-logo img {
    margin-bottom: 10px;
}

.login-logo {
    font-size: 18px;
    font-weight: 500;
}

.table > thead > tr > th {
    border-bottom-width: 1px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table td {
    font-size: 14px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
    padding: 10px 15px;
}

.table-plain > thead > tr > th,
.table-plain > tbody > tr > th,
.table-plain > tfoot > tr > th,
.table-plain > thead > tr > td,
.table-plain > tbody > tr > td,
.table-plain > tfoot > tr > td {
    border: none;
    padding: 4px 0;
}

.content-header {
    background: #fbfbfb !important;
    border-bottom:1px solid #ececec;
    padding-bottom: 16px;
}
.content-header p {
    font-weight: 500;
    font-size: 16px;
    padding-top: 3px;
    margin-bottom: 5px;
}

.content-header .bcumb {
     margin-top: 8px;
     font-size:12px;
}

.content-filter {
    padding: 15px 15px 0 15px;
}

.main-header .logo {
    height: auto;
    padding-top: 5px;
    padding-bottom: 1px;
}

.skin-black .main-header {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04);
}

.main-sidebar,
.left-side {
    top: auto;
    padding-top: 0;
}

.skin-black .main-header > .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-black .main-header > .navbar .navbar-right > li > a {
    color: #337ab7;
    border-color: #fff;
    padding: 25px 20px;
}

.skin-black .main-header > .navbar .navbar-custom-menu .navbar-nav > li > .navbar-text {
    margin-top: 25px;
    margin-bottom: 25px;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 10px 10px 10px 15px;
}

.skin-black .user-panel {
    background-color: #1f292e !important;
    margin-bottom: 10px;
}

.skin-black .sidebar-menu > li.item-active > a,
.skin-black .sidebar-menu > li.item-current > a {
    background-color: #1e282c;
    border-left-color: #fff;
}

.skin-black .sidebar-menu > li.item-active > a,
.skin-black .sidebar-menu .treeview-menu > li.item-active a {
    color: #fff;
}
.form-search {
    position: relative;
    top: -5px;
}
.user-panel {
    padding-top: 15px;
    padding-bottom: 15px;
}

.user-panel > .info {
    position: relative;
    left: 0px;
    padding: 5px;
}

.user-panel .info p {
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px;
}

.user-panel .role {
    color: #ddd;
    font-size: 12px;
}

.login-page,
.content-wrapper {
    background-color: #eee;
}

.fixed .content-wrapper {
    padding-top: 0;
}

.content-header {
    padding-top: 15px;
}

.box {
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.02);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.02);
}

.box-header {
    padding: 10px 20px 0;
}

.box-body {
    padding: 10px 20px 20px;
}

.box-footer {
    padding: 20px;
}

.form-control {
    border-radius: 3px;
    padding-left: 12px !important;
}

.btn-default {
    color: #76838f;
    background-color: #e4eaec;
    border-color: #e4eaec
}

.btn-default.focus,
.btn-default:focus {
    color: #76838f;
    background-color: #c6d3d7;
    border-color: #99b0b7
}

.btn-default:hover {
    color: #76838f;
    background-color: #c6d3d7;
    border-color: #c0ced3
}

.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
    color: #76838f;
    background-color: #c6d3d7;
    border-color: #c0ced3
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover {
    color: #76838f;
    background-color: #b1c2c8;
    border-color: #99b0b7
}

.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
    background-image: none
}

.btn-default[disabled],
.btn-default.disabled.focus,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled].focus,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover {
    background-color: #e4eaec;
    border-color: #e4eaec
}

.btn-default .badge {
    color: #e4eaec;
    background-color: #76838f
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #286090;
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #286090;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #286090;
}

.btn-success {
    color: #fff;
    background-color: #46be8a;
    border-color: #46be8a
}

.btn-success.focus,
.btn-success:focus {
    color: #fff;
    background-color: #369b6f;
    border-color: #226246
}

.btn-success:hover {
    color: #fff;
    background-color: #369b6f;
    border-color: #34936a
}

.btn-success.active,
.btn-success:active,
.open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #369b6f;
    border-color: #34936a
}

.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover {
    color: #fff;
    background-color: #2d805c;
    border-color: #226246
}

.btn-success.active,
.btn-success:active,
.open>.dropdown-toggle.btn-success {
    background-image: none
}

.btn-success.disabled,
.btn-success.disabled.focus,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled].focus,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover {
    background-color: #46be8a;
    border-color: #46be8a
}

.btn-success .badge {
    color: #46be8a;
    background-color: #fff
}

.jconfirm .content {
    min-height: auto;
}

.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
    background-color: #f2a654 !important;
    border: none;
}

.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
    background-color: #369b6f !important;
    border: none;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 3px;
}

.select2-container .select2-selection--single {
    height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-top: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.42857;
}

.select2-dropdown {
    border: 1px solid #d2d6de;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #eee;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #c6d3d7;
    color: #212121;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.wizard .box-body {
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0;
    padding-top: 20px;
    margin-bottom: 10px;
    margin-right: 0px;
}

.wizard .box-body.box-add-participants {
    border: none;
    padding-top: 10px;
    padding-right: 0;
}

.list-inline li {
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-tabs > li:last-child  > a{
    margin-right: 0;
}

.line-header {
    margin-top: 10px;
}

.table-modal thead > tr > th {
    font-size: 14px;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td {
    border: 1px solid #ddd;
}

.table-bordered {
    border-color: #ddd;
}

.modal .page-header, .page-header.alt {
    display: inline-block;
    padding: 3px 8px;
    background-color: #f6f6f6;
    font-size: 14px;
    color: #000;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 6px 12px !important;
}
